button:not(.btn) {
  margin-top: 10px;
  padding: 8px;
  border: none;
  background: #2563eb;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}
.navbar {
  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(10px);
  border-radius: 12px;
  margin: 10px;
}

.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 15px;
}

.card {
  animation: aparecer 0.5s ease;
}

@keyframes aparecer {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

button {
  margin-top: 10px;
  padding: 8px;
  border: none;
  background: #2563eb;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.hidden {
  display: none;
}

canvas {
  background: rgba(255,255,255,0.05);
  border-radius: 10px;
  padding: 10px;
  margin-top: 15px;
}

.btn {
  background: linear-gradient(90deg, #6366f1, #8b5cf6);
  border: none;
  padding: 12px 18px;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;

  transition: all 0.2s ease;
  box-shadow: 0 4px 15px rgba(99,102,241,0.4);
}

/* Hover (quando passa o mouse) */
.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 20px rgba(139,92,246,0.6);
}

/* Clique (efeito app) */
.btn:active {
  transform: scale(0.95);
  box-shadow: 0 2px 8px rgba(0,0,0,0.3);
}

* {
  box-sizing: border-box;
}

h1, h2, h3 {
  font-weight: 600;
  letter-spacing: 0.5px;
}