<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Finance+</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

<header class="navbar">
  <h2>💸 Finance+</h2>
  <div>
    <a href="/login" class="btn">Login</a>
<a href="/cadastro" class="btn">Cadastrar</a>
  </div>
</header>

<section style="padding: 40px; text-align: center;">
  <h1 style="font-size: 36px;">Controle seus pagamentos com inteligência</h1>
  <p style="margin: 15px 0;">Simule, compare e organize suas finanças</p>

  <a href="/login">
    <button class="btn" style="padding:15px 25px; font-size:18px;">
      Começar 🚀
    </button>
  </a>
</section>

<section class="dashboard-grid">

  <div class="card">
    <h3>📊 Simulação</h3>
    <p>Calcule parcelas com juros</p>
  </div>

  <div class="card">
    <h3>💸 Comparação</h3>
    <p>À vista ou parcelado?</p>
  </div>

  <div class="card">
    <h3>📅 Organização</h3>
    <p>Controle suas contas</p>
  </div>

  <div class="card">
    <h3>📈 Planejamento</h3>
    <p>Evite dívidas</p>
  </div>

</section>

<section style="padding: 40px;">
  <h2>Sobre o sistema</h2>
  <p>
    O Finance+ ajuda você a tomar decisões financeiras melhores,
    simulando pagamentos, comparando valores e organizando suas finanças.
  </p>
</section>

</body>
</html>